/* 
    Created on : May 5, 2016, 12:12:05 PM
    Author     : fabianagudelo
*/

#headerDiv{
    padding-top: 30px;
    width: 800px;
    height: 80px;
}

.pagina{
    width: 100%;
    height: 100%;
    background-image: url(../../resources/images/background-full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imgHeaderLeft{
    display: inline-block;
    width: 40%;
    height: 100%;
    background-image: url(../../resources/images/logoGobernacion.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.imgHeaderRight{
    display: inline-block;
    width: 40%;
    height: 100%;
    background-image: url(../../resources/images/logo-turismo-valle.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

@media(min-width: 1024px){
    .mainTitle{
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -48px;
        text-decoration: none !important;
    }
}

@media(max-width: 1024px){
    .mainTitle{
        display: none;
    }
}


.imgValle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    float: right
}

#loginDiv{
    margin-top: 2px;
    width: 362px;
    height: 340px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.75);
}

#panelOpcionesExternas{
    text-align: center;
}

#panelOpcionesExternas>div{
    text-align: center;
    font-size: 13px !important;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(255, 255, 255, 0.79);
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

#panelOpcionesExternas>hr{
    width: 562px;
    border: 1px solid rgba(27, 27, 27, 0.4);
}

#panelOpcionesExternas>a{
    text-decoration: none !important;
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 2px solid silver;
    border-radius: 4px;
    margin: 4px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.73);
    font-size: 13px;
    color: black;
    font-weight: bold;
}

#panelOpcionesExternas>a:hover{    
    border: 2px solid gray;
    font-weight: 700;
}

#panelOpcionesExternas>a>div>img{
    width: 45px;
    height: 45px;
    margin-top: 6px;
}

.headerLoginBorder{
    width: 100%;
    height: 7px;
    background: #42A5F5;
}

.headerLoginDiv{
    height: 30px;
    text-align: center;
    color: #42A5F5;
    border: solid 1px #e0e0e0;
}

.headerLoginDiv div{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 800;
}


#usuarioDiv{
    display: none;
    z-index: 10;  
    position: absolute;
    left: 78%;
    top: 42px;
    width: 250px;
    height: 300px;
    background: #fff;
    -moz-box-shadow: 0 1px 2px 0 #000;
    -webkit-box-shadow: 0 1px 2px 0 #000;
    box-shadow: 0 1px 2px 0 #000;
}

#usuarioImg:hover + #usuarioDiv{
    display: block;
}

#usuarioDiv:hover{
    display: block;
}

#imgUserBig{
    width: 100%;
    height: 60%;
}

#infoUser{
    width: 100%;
    height: 39%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.titleMain{
    font-size: 18px;
    display: block;
    color: #439fe0;
}

.subtitleMain{
    text-align: left;
    display: block;
    font-size: 13px;
}

.titleIcon{
    color: #439fe0;
    vertical-align: super;
    margin: 5px;
}

#contenedorInicio{
    width: 80%;
    min-height: 250px;
}

#espacioIzq{
    width: 65%;
    height: 450px;
    background-color: #fff;
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    box-shadow:0px 1px 1px #2B0000;
}

#espacioDer{
    width: 28%;
    height: 450px;
    background-color: #fff;
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    box-shadow:0px 1px 1px #2B0000;
}

.tituloContenedor{
    height: 48px;
    margin: 15px 30px;
    border-bottom: solid 1px #e0e0e0;
}