/* 
    CSS para panel de notificaciones
    Created on : 09 de Mayo de 2015
    Author     : Andres Rivera
*/
#notificaciones-principal{
    padding: 2px;
    text-align: left;
    min-height: 366px;
    max-height: 350px;
    overflow-y: scroll;
}

#notificaciones-principal>a{
    text-decoration: none !important;
    color: gray;
    font-size: 12px !important;
}

#notificaciones-principal::-webkit-scrollbar {
    width: 9px;
    background-color: #EFEFEF;
    border-radius: 2px !important;
}

#notificaciones-principal::-webkit-scrollbar-thumb {
    background-color: #1387C3;
}

.componente-notificacion-P{
    padding: 3px;
    padding-left: 6px;
    margin: 2px;
    border: 1px solid #EAEAEA;
    background-color: rgba(255, 0, 141, 0.05);
    border-radius: 4px;
}

.componente-notificacion-R{
    padding: 3px;
    padding-left: 6px;
    margin: 2px;
    border: 1px solid #EAEAEA;
    background-color: rgba(240, 242, 245, 0.3);
    border-radius: 4px;
}

.componente-notificacion-fecha{
    font-size: 9px !important;
    color: gray;
}

.componente-notificacion-numero{
    font-weight: bold;
}

.componente-notificacion-texto{
    color: #333333 !important;
    font-size: 12px;
}

.notificaciones-panel{
    margin-left: 8px;
    margin-top: 8px;
}

.notificaciones-panel>tbody>tr>td{
    padding: 6px;
}

#usuarioNotificaciones{
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 13px;
    background-color: #4F5D73;
    color: white;
    font-weight: bold;
    border: 2px solid #ABABAB;
    font-size: 12px;
}

#usuarioNotificaciones>span>div{
    margin-top: 3px;
}

#usuarioNotificacionesDetalle{
    display: none;
    z-index: 10;  
    position: absolute;
    left: 65%;
    top: 42px;
    width: 360px;
    min-height: 380px;
    background: #fff;
    -moz-box-shadow: 0 1px 2px 0 #000;
    -webkit-box-shadow: 0 1px 2px 0 #000;
    box-shadow: 0 1px 2px 0 #000;
}

#usuarioNotificaciones:hover + #usuarioNotificacionesDetalle{
    display: block;
}

#usuarioNotificacionesDetalle:hover{
    display: block;
}
