/* 
    Created on : 09 de Mayo de 2015
    Author     : Andres Rivera
*/
.ui-widget, .ui-widget .ui-widget {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important; 
}

*.ui-dialog-title{
    font-size: 14px !important; 
}

*.ui-dialog-titlebar-icon{    
    margin-top: 0px !important;
}

*.ui-dialog-titlebar-close{
    margin-top: 0px !important;
}

*.ui-selectonemenu-label{
    text-align: center !important;  
} 

#modalDialog{
    top: 180px !important;
}

#modalLoading{
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

#modalRegistro{
    top: 122px !important;
}

#modalLoading{
    top: 122px !important;
}

#modalContrasena{
    top: 122px !important;
}

#modalFileUpload{
    top: 122px !important;
}

#confirmationDialog{
    top: 100px !important;
}

*.ellipsisText{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
    border-top: none;
    border-right: none;
}


.ui-dialog-titlebar{
    font-size: 14px !important;
    border-top: solid #1f89ce !important;
    border-top-width: 7px !important;
    padding: 5px 15px !important;
}

.ui-dialog-title{
    font-size: 18px !important;
}

.ui-selectonemenu .ui-selectonemenu-label{
    text-align: center;
}

.ui-selectonemenu-item{
    font-size: 14px;
}

.ui-button.ui-state-hover,.ui-button.ui-state-hover,button.ui-button.ui-state-focus,.ui-button.ui-state-focus{
    border:1px solid #156090;background:#156090 !important;outline:0 none
}

*.ui-datatable-selectable.ui-state-hover{    
    background-color: rgba(236, 236, 236, 0.75) !important;
    border-bottom: 1px solid #188AD0 !important;
}

.ui-datatable tbody td{
    font-size: 13.5px !important;
}

.ui-button{
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    font-size: 14px;
    text-shadow: none !important;
}

.ui-inputfield{
    text-align: center;
    font-size: 14px;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    border: 1px solid #1f89ce;
    color: #fff;
    background: #2399e5;
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
    font-weight: 300; 
}

.ui-button-text-only .ui-button-text {
    padding: .3em 1em;
}

.ui-inputfield {
    margin: 0;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

*.ui-column-filter{
    width: 90% !important;
}

*.ui-widget-overlay{
    background: #FFFFFF !important;
    opacity: .90 !important;
    filter: Alpha(Opacity=90) !important;
}

.ui-state-error{
    border: 1px solid #FFAAAA !important;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(160, 6, 6, 0.42) !important;
    -moz-box-shadow:    0px 0px 4px 0px rgba(160, 6, 6, 0.42) !important;    
    box-shadow: 0px 0px 4px 0px rgba(160, 6, 6, 0.42) !important;
}

*.ui-dialog-content{
    padding: 8px !important;
}

*.ui-dialog-title{
    font-size: 15px !important;
}

*.ui-datatable-empty-message{
    text-align: center !important;
}

/**
 Tamaño default componentes
*/
input[role='textbox']{
    width: 280px;
}

*.ui-selectonemenu{
    width: 252px;
}

.ui-fileupload{
    border: 1px solid #dddddd;
}

li[aria-selected="true"]{
    background-color: #0088CC!important;    
    border-radius: 6px 0px 0px 6px !important;
}

li[aria-selected="true"]>a{
    color: #ECECEC !important;
    text-shadow: 4px 3px 2px rgba(94, 94, 94, 1);
}

li[aria-selected="false"]>a{
    color: black !important;
}

.ui-tabs .ui-tabs-panel{
    padding: 0px !important; 
}