/* 
    Estilos para pantalla de seleccion de medio de pago.
    Created on : 22/05/2016, 10:38:54 PM
    Author     : Andres Rivera
*/
#payment-panel{
    padding: 8px;
}

.payment-title>span{
    padding: 4px;
    border-radius: 4px;
    border-bottom: 2px solid #0066ff;
}

.payment-methods{
    text-align: center;
    padding: 8px;
}

.payment-button{
    text-decoration: none !important;
    vertical-align: top;
    display: inline-block;
    width: 202px;
    border: 1px solid #D8D8D8;
    border-bottom: 2px solid #A7A7A7;
    border-radius: 4px;
    padding: 4px;
    margin: 6px;
    font-size: 13px !important;
    color: black !important;
}

.payment-button:hover{
    border-bottom: 2px solid gray;
    -webkit-box-shadow: 7px 9px 13px -8px rgba(179,179,179,1);
    -moz-box-shadow: 7px 9px 13px -8px rgba(179,179,179,1);
    box-shadow: 7px 9px 13px -8px rgba(179,179,179,1);
}

.payment-button>img{
    height: 60px;
}

.payment-detail{
    padding: 10px;
}
